@import "tailwindcss";

@theme {
  --font-grotesque: "Bricolage Grotesque", "sans-serif";
  --font-dmsans: "DM Sans", "sans-serif";
  --color-Neutral-900: #03012d;
  --color-Neutral-800: #272541;
  --color-Neutral-700: #312f4b;
  --color-Neutral-600: #3d3b5e;
  --color-Neutral-300: #aeaeb7;
  --color-Neutral-200: #d5d4d9;
  --color-Neutral-0: #fff;
  --color-Orange-500: #ff7c0a;
  --color-Blue-500: #4455da;
  --color-Blue-700: #2d1c9c;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3d3b5e;
  /* Neutral-600 */
  border-radius: 10px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #ffffff00);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}